
@{
    ViewBag.Title = "My Directive";
}

<h2>My Directive</h2>

<script src="~/Scripts/Modules/MyDirectiveApp.js"></script>
<div ng-app="myDirectiveApp" class="container well">
    <my-first-directive></my-first-directive>
</div>